<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- wonder if defer is not working? -->
    <script  src="main.js" defer ></script> 
    
    <title>Social Media</title>
</head>
<body>
    <nav class="main-nav"> <form action="/logout" method="post"> <input type="submit" name="logout" value="Log Out"></form> </nav>

    <h1>welcome, <%= user %> </h1>

    <div class="makePost">
        <form action="/makePost" method="POST"> 
             
          <label for="content"> Type Here</label><input type="text" name="content" >

          <input type="submit" name="submit" id="">
        
        </form>
    </div>

    <% for ( let i= post.length-1; i>=0; i-- ){ %>
        <div>
            <%=  post[i].poster %>  :
            <%= post[i].content %>
            <!-- EDIT POST FORM -->

            <!-- needs to be == not === because they're stored differently -->
            <% if (post[i].user == id ) { %>

            <form action="/edit/poster/<%= post[i].id%>" method="get">
                <input type="submit" name="Edit Here" value="Edit">
            </form>
            <!-- DELETE POST FORM -->
            <form action="/deleteById/<%= post[i].id %>?_method=DELETE" method="post">
            <input type="submit" name="delete" value="Delete"></form>

            <form action="/"></form>
            <% } %> 
        </div>
    <% } %>
 
    <a href="/edit"> to edit</a>
    <a href="/show"> to show</a>
  
</body>
</html>